#btn {
    font: 15 serif;
    color: green;                                
}

#prg_view {
    font: serif;
    font-size: 20px;
    background-color:#001844;
    color: #ffffff;
}
#prg_view:selected
{
    background-color: #0071d5;
}
#inst_view {
    
}
#popup_label
{
    font: serif;
    font-size: 14px;
    color: #000000;
    background-color: #ffffff;
}
#popup_label:selected
{
    color:#ffffff;
    background-color: #0071d5;
}
#popup
{
    font-size: 14px;
}
#console
{
    background-color:black;
    color: green;
    font: serif;
    font-size: 16px;
}
#lines
{
    background-color: #023688;;
    font: serif;
    font-size: 20px;
    color: #1111dd;
}
#grid
{
background-color: #ff00ff;
}

#inst_view
{

font: serif 32;
}


