#btn {
    font: 15 serif;
    color: green;                                
}

#prg_view {
    font: serif;
    font-size: 20px;
    background-color:#001844;
    color: #ffffff;
}
#prg_view:selected
{
    background-color: #0071d5;
}

.tab_label
{
    font-size: 16px;
}

#lines
{
    background-color: #023688;;
    font: serif;
    font-size: 20px;
    color: #1111dd;
}
#grid
{
background-color: #ff00ff;
}

#inst_view
{

font: serif 18;
}


